.form-check-input{
    height:12px;
    margin-top:8px;
}

.any{
    any:any
}

.form-check [value=checked] {
    background-color: black;
}

.header-logo{
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

